{% extends 'base.html' %}

{% block title %}Registrar Nueva Cancha{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Registrar Nueva Cancha</h2>

   

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.imagen.label_tag }}
            {{ form.imagen }}
        </div>

        <div class="mb-3">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
        </div>

        <div class="mb-3">
            {{ form.precio.label_tag }}
            {{ form.precio }}
        </div>

        <div class="form-check mb-3">
            {{ form.disponible }}
            {{ form.disponible.label_tag }}
        </div>

        <button type="submit" class="btn btn-success">Guardar Cancha</button>
        <a href="{% url 'lista_cancha' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>
{% endblock %}
